@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Movie Book Detail";
    var movieyear = 2007;
    var descripion = "<p>Lot of fun, at the end <b>drunk</b>! Why?";
    string[] artists = new string[] {
                "Director: Danny Boyle",
                "Writer: Alex Garland",
                "Star: Cillian Murphy",
                "Star: Rose Byrne",
                "Star: Chris Evans"
            };
}

<h1>@ViewBag.movietitle</h1>
<h2>Year: @movieyear</h2>
<h5>Descriprion: </h5>
<div>
    @Html.Raw(descripion)
</div>

@if (artists.Length > 0)
{
    <h5>Persons: </h5>
    <div>
        <ul>
            @foreach (var artist in artists)
            {
                <li>@artist</li>
            }
        </ul>
    </div>
}