@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.movietitle</h1>
        <h2>Year: @movieyear</h2>
        <h5>Descriprion: </h5>
        <div>
            @Html.Raw(descripion)
        </div>

        @if (artists.Length > 0)
        {
            <h5>Persons: </h5>
            <div>
                <ul>
                    @foreach (var artist in artists)
                    {
                        <li>@artist</li>
                    }
                </ul>
            </div>
        }
        
    </div>
</body>
</html>
