@{
    Layout = null;

    var movietitle = "Sunshine";
    var movieyear = 2007;
    var descripion = "<p>Lot of fun, at the end <b>drunk</b>! Why?";
    var artists = new string[] {
        "Director: Danny Boyle",
        "Writer: Alex Garland",
        "Star: Cillian Murphy",
        "Star: Rose Byrne",
        "Star: Chris Evans"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@movietitle</h1>
        <h2>Year: @movieyear</h2>
        <h5>Descriprion: </h5>
        <div>
            @Html.Raw(descripion)
        </div>

        @if (artists.Length > 0)
        {
            <h5>Persons: </h5>
            <div>
                <ul>
                    @foreach (var artist in artists)
                    {
                        <li>@artist</li>
                    }
                </ul>
            </div>
        }
        
    </div>
</body>
</html>
